* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*variables*/
.grid, .place-grid, .contact-grid, .staff-grid, .about-grid, .index-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "header" "content" "footer";
}

/*formato header*/
header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: space-between;
  align-items: center;
  font-size: small;
  font-style: normal white;
  border-bottom: 1px solid blue;
}
header .logo {
  margin: 1% auto;
}
header .logo img {
  width: 125px;
  height: 50px;
}
header .menu div {
  display: inline-flex;
  align-content: flex-end;
  margin: 10px;
  padding: 5px;
  background-color: blue;
}
header .menu a {
  color: white;
  text-decoration: none;
  text-align: center;
}
header .menu div :hover {
  background-color: rgb(0, 191, 255);
}

@media screen and (max-width: 480px) {
  .menu div {
    justify-content: center;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
  }
}
/*formato footer*/
footer {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  width: auto;
  height: 55px;
  border-top: 1px solid blue;
}
footer .info {
  padding-inline: 110px;
  width: 33%;
  font-size: 12px;
}
footer .info a {
  display: flex;
  padding: 2px;
  color: black;
  text-decoration: none;
}
footer .info img {
  width: 18px;
  margin-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
footer .info .idioma {
  flex-direction: row-reverse;
}

@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .idioma {
    flex-direction: column;
    padding-right: 0;
  }
}
/*formato index*/
.index-grid {
  align-items: center;
  text-align: center;
}

.window {
  grid-area: content;
  display: flex;
  flex-direction: column;
  height: 310px;
  margin: 5%;
  padding: auto;
  align-items: center;
}
.window div {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 20px;
  padding: 10px;
  background-color: blue;
}
.window div .window__button {
  width: 200px;
  text-align: center;
}
.window div a {
  color: white;
  text-decoration: none;
}
.window div :hover {
  background-color: rgb(0, 191, 255);
}

@media screen and (max-width: 480px) {
  .window {
    zoom: 75%;
    justify-content: center;
    align-items: center;
    margin: 20%;
  }
}
/*formato about*/
#about {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
}
#about .place {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 5px;
}
#about .place div {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#about .place div img {
  width: auto;
  height: 200px;
}
#about .text {
  margin-block: 30px;
  margin-inline: 20%;
}

@media screen and (max-width: 480px) {
  #about img {
    zoom: 75%;
  }

  #about .place {
    display: block;
  }
}
/*formato staff*/
#staff {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
}
#staff .medic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 5px;
}
#staff .medic img {
  width: auto;
  height: 200px;
}
#staff .medic div {
  margin: 10px;
}
#staff .staff_text {
  margin-inline: 20%;
}

@media screen and (max-width: 480px) {
  #staff img {
    zoom: 75%;
  }

  #staff .medic {
    display: block;
  }
}
/*formato contact*/
.contact {
  grid-area: content;
  display: flex;
  flex-direction: row;
  height: 360px;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.contact div {
  margin: 10px;
}
.contact .form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact img {
  width: 200px;
  height: 300px;
}

@media screen and (max-width: 480px) {
  .contact-grid {
    display: flex;
    flex-direction: column;
  }

  .contact {
    display: flex;
    flex-direction: column;
    height: 650px;
  }
}
/*formato place*/
.place-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#lambda {
  grid-area: content;
  margin-inline: 20%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
#lambda .areas p {
  margin: 10px;
}
#lambda .areas .deco {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#lambda .areas .deco div {
  margin: 10px;
}
#lambda .areas .deco img {
  width: 200px;
  height: auto;
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .deco {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .deco {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */